# Dependencies
node_modules/

# Build output
dist/
build/
*.tsbuildinfo

# Nx cache
.nx/cache
.nx/workspace-data

# Coverage
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/

# Env
.env
.env.local
.env.*.local
